body {
    font-size: 1.7em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    font-size: 2.5em;
    text-align: center;
    padding: 3%;
}
h1 > img {
  width: 1em;
}

table {
  margin: 0 auto 0;
}

td {
  padding: .5em;
  padding-right: 0;
}

input {
  font-size: 1.5em;
  border-radius: .3em;
  border: 0;
  width: 3em;
  padding: .5em;
  text-align: right;
  background-color: rgb(240, 240, 240);
  -moz-appearance: textfield;
}
input:hover {
    background-color: rgb(220, 220, 220);
}
input:disabled {
    pointer-events: none
}
